<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.GovUserMapper">
    <select id="selectGovUser" resultType="GovUser">
        SELECT g.*, b.user_uid, b.user_identity, b.user_phone, b.user_name,
               b.user_sex, b.user_age, b.user_avatar, b.user_reg_time
        FROM gov_user g
                 JOIN basic_user_info b ON g.user_id = b.id
        WHERE g.id = #{id}
    </select>
</mapper>