<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.UserMapper">
    <select id="selectGovUserById" resultType="GovUser">
        SELECT g.*, b.user_uid, b.user_identity, b.user_phone, b.user_name,
               b.user_sex, b.user_age, b.user_avatar, b.user_reg_time
        FROM avatar.gov_info g
                 JOIN avatar.basis_user_info b ON g.user_id = b.id
        WHERE g.id = #{id}
    </select>
    
    <select id="selectGovUserByPhone" resultType="GovUser">
        SELECT g.*, b.user_uid, b.user_identity, b.user_phone, b.user_name,
               b.user_sex, b.user_age, b.user_avatar, b.user_reg_time
        FROM avatar.gov_info g
                 JOIN avatar.basis_user_info b ON g.user_id = b.id
        WHERE b.user_phone = #{phone}
    </select>

    <insert id="insertGovUser" parameterType="GovUser">
        INSERT INTO avatar.gov_info (user_id, password, enabled)
        VALUES (#{userId}, #{password}, #{enabled});
    </insert>

</mapper>